@{
    ViewData["Title"] = "Home";
}

<div class="main-body">
    <div class="main-body-wrapper">
        <div class="main-content">
            <a asp-controller="Home" asp-action="DownloadPdf" class="justify-content-center">Download Pdf</a>
        </div>
    </div>
</div>
